# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
.build/
Packages/
*.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

# Secrets (절대 커밋하지 않음)
ExamEve/Secrets.xcconfig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.xcuserstate
